/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.active {
  color: red;
  font-size: 20px;
}

.main-dropdown {
  width: 150px;
  background: rgb(63, 157, 240);
}
.head-dropdown {
  border: 1px solid black;
  padding: 5px;
}
.body-dropdown {
  display: block;
  border: 1px solid black;
}
.not-body-dropdown {
  display: none;
}

.boxRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  width: 120px;
  height: 120px;
  background: rgb(125, 185, 237);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.activeCard {
  background: rgb(232, 100, 100);
}
